<header>
  <div class="logo-container">
    <p>Coctail DB</p>
    <img src="../../../assets/logo.svg" alt="logo">
  </div>
</header>


<mat-sidenav-container *ngIf="showContent">

  <mat-sidenav mode="side" opened>
    <section>
      <mat-checkbox *ngFor="let category of filterList" 
      (change)="category.value = !category.value" 
      [checked]="category.value">
      {{category.name}}
    </mat-checkbox>
      <button (click)="receiveChoosenCategories()" mat-button>APPLY</button>
    </section>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="categories-container">
      <div class="cocktail-type" *ngFor="let category of cocktails" >
        <article>{{category.category}}</article>
        <hr>
        <div class="content">
          <div *ngFor="let card of category.drinks" class="cocktail-card">
            <img [src]="card.strDrinkThumb" alt="cocktail">
            <p>{{card.strDrink}}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


<mat-spinner *ngIf="!showContent" diameter="60"></mat-spinner>